<Files "config.local.php">
  Require all denied
</Files>
<Files "config.php">
  Require all denied
</Files>
<Files "mailer.php">
  Require all denied
</Files>
<Files "diagnose.php">
  Require all denied
</Files>
